:root {
  --spaceSmall: 20px;
  --spaceMedium: 20px;

  --foreground: rgb(80, 80, 80);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: inherit;
  color: inherit;
}

@font-face {
  font-family: "Giallo";
  font-style: normal;
  src: url(../public/fonts/GialloRoman.ttf) format("truetype"),
    url(../public/fonts/GialloRoman.woff) format("woff"),
    url(../public/fonts/GialloRoman.woff2) format("woff2");
}

html,
body {
  overflow-x: hidden;
  color: var(--foreground);
  background: white;
  font-family: "Giallo";
  font-variation-settings: "wght" 300;
  font-size: 26px;
  line-height: 34px;
  /* letter-spacing: 0.8px; */
  word-spacing: -1px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid var(--foreground);
}

ul {
  list-style: none;
}

/* WORK */

.workOuter {
  width: 100vw;
  /* transform: translateX(-50vw); */
  display: flex;
  justify-content: center;
}

.workWrapper {
  position: absolute;
  /* top: 0;
  right: 100vw; */
  /* transform: translateX(-50vw); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spaceMedium);
  transition: transform 0.2s ease;
}

.work {
  height: 100%;
}

.workWrapper div {
  margin: 10px;
  transition: all 0.3s ease;
}

.image {
  position: relative;
  cursor: pointer;
}

.workInfo {
  position: fixed;
  bottom: var(--spaceSmall);
  left: var(--spaceSmall);
  max-width: clamp(300px, 20vw, 700px);
  z-index: 100;
}

.workWrapperMobile {
  display: none;
}

.arbeitWrapper {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 200;
  animation: fadeIn 0.3s ease;
}

.swiper {
  height: 100%;
}

.swiper-wrapper {
  cursor: none;
}

.close {
  position: fixed;
  left: var(--spaceMedium);
  top: var(--spaceMedium);
  z-index: 200;
  cursor: pointer;
}

.close:hover {
  border-bottom: 2px solid var(--foreground);
}

.swiperText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vw;
  /* width: 80vw; */
  height: 100%;
  /* background: red; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ABOUT */

.aboutWrapper {
  margin: 100px var(--spaceMedium) var(--spaceSmall);
  width: 50%;
}

.aboutSection {
  padding-bottom: 100px;
}

.aboutSection li {
  display: flex;
}

.aboutBeschreibung {
  width: calc(50vw - 250px);
}

.aboutJahr {
  display: block;
  width: 250px;
}

/* BOOKS */

.vimeoWrapper {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 200;
  animation: fadeIn 0.3s ease;
}

.vimeoInner {
  width: 70vw;
  height: calc(70vw / 16 * 9);
}

.vimeoInner iframe,
.vimeoWork iframe {
  height: 100%;
  width: 100%;
}

.vimeoWork {
  width: "auto";
  max-width: 70vw;
  height: 100vh;
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  html,
  body {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    word-spacing: -0.5px;
  }

  a:hover {
    border-bottom: none;
  }

  .workWrapper {
    display: none;
  }
  .workWrapperMobile {
    display: flex;
    height: 100%;
    width: 100vw;
  }

  .swiper {
    width: 100vw;
  }

  .swiper img {
    transition: transform 0.5s ease;
  }

  .swiper-slide-prev img, .swiper-slide-next img {
    transform: scale(80%);
  }

  .aboutWrapper {
    width: 100%;
    margin: 0;
    padding: 100px var(--spaceMedium) var(--spaceMedium) var(--spaceMedium);
  }

  .aboutSection li {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .aboutBeschreibung, .aboutJahr {
    width: 100%;
  }

  .swiperText {
    padding: 0
  }
}
