:root {
  --spaceSmall: 20px;
  --spaceMedium: 20px;

  --foreground: rgb(80, 80, 80);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: inherit;
  color: inherit;
}

@font-face {
  font-family: "Giallo";
  font-style: normal;
  src: url(../public/fonts/GialloRoman.ttf) format("truetype"),
    url(../public/fonts/GialloRoman.woff) format("woff"),
    url(../public/fonts/GialloRoman.woff2) format("woff2");
}

html,
body {
  overflow-x: hidden;
  color: var(--foreground);
  background: white;
  font-family: "Giallo";
  font-variation-settings: "ital" 0, "wght" 300;
  font-size: 22px;
  line-height: 29px;
  word-spacing: -1px;

}

a {
  color: inherit;
  text-decoration: none;
  transition: font-variation-settings 0.2s ease
}

a:hover {
  font-variation-settings: "ital" 100, "wght" 300;

}

ul {
  list-style: none;
}

/* WORK */

.workOuter {
  width: 100vw;
  /* transform: translateX(-50vw); */
  display: flex;
  justify-content: center;
}

.workWrapper {
  position: absolute;
  animation: fadeIn 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spaceMedium);
  transition: transform 0.5s ease;
}

.workCloseButton {
  position: absolute;
  right: var(--spaceSmall);
  top: var(--spaceSmall);
  cursor: pointer;
  z-index: 100;
}

.work {
  height: 100%;
}

.workWrapper div {
  margin: 10px;
  transition: all 0.3s ease;
}

.blocker {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 40vh;
  z-index: 50;
}

.image {
  position: relative;
  cursor: pointer;
  z-index: 60;
}

.workInfo {
  position: fixed;
  bottom: var(--spaceSmall);
  left: var(--spaceSmall);
  max-width: clamp(300px, 20vw, 700px);
  /* z-index: 100; */
}

.workWrapperMobile {
  display: none;
}

.arbeitWrapper {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 200;
  animation: fadeIn 0.3s ease;
}

.swiper {
  height: 100%;
}

.swiper-wrapper {
  cursor: none;
}

.close {
  position: fixed;
  left: var(--spaceMedium);
  top: var(--spaceMedium);
  z-index: 200;
  cursor: pointer;
}

.close:hover {
  border-bottom: 2px solid var(--foreground);
}

.swiperText {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 10vw;
  height: 100%;
  overflow-y: scroll;
}

.swiperText p {
  padding-bottom: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ABOUT */

.aboutOuter {
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  height: 100%;
  animation: fadeIn 0.5s ease;
}

.aboutWrapper {
  margin: 100px var(--spaceMedium) var(--spaceSmall);
  width: 50%;
}

.aboutHeadBackground {
  width: 100%;
  height: 100px;
  background: linear-gradient(white 50%, rgba(0, 0, 0, 0));
  position: fixed;
  top: 0;
  z-index: 55;
}

.aboutSection {
  padding-bottom: 100px;
}

.aboutSection li {
  display: flex;
}

.aboutBeschreibung {
  width: calc(50vw - 250px);
}

.aboutJahr {
  display: block;
  width: 250px;
}

.aboutMobileCloseButton {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* BOOKS */

.vimeoWrapper {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 200;
  animation: fadeIn 0.3s ease;
}

.vimeoInner {
  width: 70vw;
  height: calc(70vw / 16 * 9);
}

.vimeoInner iframe,
.vimeoWork iframe {
  height: 100%;
  width: 100%;
}

.vimeoWork {
  width: "auto";
  max-width: 70vw;
  height: 100vh;
}

.iframeOverlay {
  height: calc(100% - 50px);
  width: 100%;
  position: absolute;
  cursor: none;
}

/* CONTACT */
.contactWrapper {
  position: fixed;
  top: 0;
  overflow: scroll;
  height: 100%;
  animation: fadeIn 0.5s ease;
  width: 100%;
  height: 100%;
  padding: 100px var(--spaceMedium) var(--spaceSmall);
}

.contactInner{
  padding-bottom: 23px
}

/* EXHIBITIONS */

.exhibitionsWrapper {
  position: fixed;
  top: 0;
  overflow: scroll;
  height: 100%;
  animation: fadeIn 0.5s ease;
  width: 100%;
  height: 100%;
  padding: 100px var(--spaceMedium) var(--spaceSmall);
}

.exhibitionInner {
  padding-bottom: 23px
}

.italic {
  font-variation-settings: "ital" 100;
}

@media screen and (max-width: 1000px) {
  html,
  body {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    word-spacing: -0.5px;
  }

  a:hover {
    border-bottom: none;
  }

  .workWrapper {
    display: none;
  }
  .workWrapperMobile {
    display: flex;
    height: 100%;
    width: 100vw;
  }



  .swiper {
    width: 100vw;
  }

  .swiper img {
    transition: transform 0.5s ease;
  }

  .swiper-slide-prev img,
  .swiper-slide-next img {
    transform: scale(80%);
  }

  .aboutWrapper {
    width: 100%;
    margin: 0;
    padding: 100px var(--spaceMedium) var(--spaceMedium) var(--spaceMedium);
  }

  .aboutSection li {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .aboutBeschreibung,
  .aboutJahr {
    width: 100%;
  }

  .aboutOuter {
    z-index: 100;
  }

  .aboutMobileCloseButton {
    display: inherit;
    position: fixed;
    padding-top: var(--spaceSmall);
    width: 100vw;
    text-align: center;
    z-index: 1000;
    height: 80px;
    background: linear-gradient(white 50%, rgba(0, 0, 0, 0));
  }

  .swiperText {
    padding: 0;
  }
}
