.wrapper {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spaceMedium);
  z-index: 100;
  width: 100%;
}

.menu a {
  margin-right: var(--spaceMedium);
}

.language {
  margin-left: var(--spaceMedium);
  font-size: 20px;
}

.options {
  position: absolute;
  height: 60px;
}

.socialMedia a {
  cursor: pointer;
}

.socialMediaButton {
  transition: font-variation-settings 0.2s ease;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    justify-content: center;
    text-align: center;
  }

  .wrapper div a {
    z-index: 1000;
  }

  .menu {
    position: fixed;
    bottom: var(--spaceSmall);
    left: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .menu a {
    margin-left: 0;
  }
  .menu span {
    border: 0 !important;
    /* height: 25px; */
  }
  .options {
    position: absolute;
    bottom: 50px;
    height: 84px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
}
